////////////////////////////////////////////
////////////////////////////////////////////
////////////////// COLORS //////////////////
////////////////////////////////////////////
////////////////////////////////////////////
 
$colorMainBlue: #00C3FF;
$colorBarBlue: #FFF;

$colorMainLightBlue: #87E9FF;
$colorSubLightBlue: #00D1FF;
$colorBarLightBlue: #C4FAFF;