<div id="hero" ng-style="LandingCtrl.heroImageStyle">
	<div class="container" ng-style="LandingCtrl.heroTitleStyle">
		<div slide delay="200" class="name" ng-class="{out:LandingCtrl.titleShow == false}">[ Chris Zlaket ]</div>
		<!-- <div slide delay="300" class="title-bar"></div> -->
		<div slide delay="400" class="desc" ng-class="{out:LandingCtrl.descShow == false}">
			<span>Engineer. Designer. Swaglord.<br/></span>
			<span>All in one man.</span>
		</div>
	</div>
	<div class="scroll">
		<div slide delay="800" class="bottom-carat">
			<div class="scroll-desc">What You Came For</div>
			<div class="icon oi" data-glyph="chevron-bottom"></div>
		</div>
	</div>
</div>

<div id="projects">
	<div class="title">Projects</div>
</div>

<div id="about">
	<div class="title white">About</div>
</div>

<div id="contact">
	<div class="title">Contact</div>
</div>
